<div class="new-lessons">
  <div class="new-lessons__title">Подбор шаблона для кастомизации</div>
  <div class="new-lessons__content">
    <a
      href=""
      class="new-lesson user-state-has_mission"
    >
      <span class="new-lesson__number">Урок 1</span>
      <span class="new-lesson__state">Есть задание</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-not_reached"
    >
      <span class="new-lesson__number">Урок 2</span>
      <span class="new-lesson__state">Закрыт</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Недоступен</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-not_reached"
    >
      <span class="new-lesson__number">Урок 3</span>
      <span class="new-lesson__state">Закрыт</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button"
        >Недоступен <span class="new-lesson__button-time">Откроется 19 января в 14:00</span></span
      >
    </a>
    <a
      href=""
      class="new-lesson user-state-reached"
    >
      <span class="new-lesson__number">Урок 4</span>
      <span class="new-lesson__state">Доступен</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-answered"
    >
      <span class="new-lesson__number">Урок 5</span>
      <span class="new-lesson__state">На проверке</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-accomplished"
    >
      <span class="new-lesson__number">Урок 6</span>
      <span class="new-lesson__state">Принят</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-need_accomplish"
    >
      <span class="new-lesson__number">Урок 7</span>
      <span class="new-lesson__state">Есть задание</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-has_mission"
    >
      <span class="new-lesson__number">Урок 8</span>
      <span class="new-lesson__state">Есть задание</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
    <a
      href=""
      class="new-lesson user-state-has_mission"
    >
      <span class="new-lesson__number">Урок 9</span>
      <span class="new-lesson__state">Есть задание</span>
      <span class="new-lesson__title">Выбор сетки шаблона и ее адаптация</span>
      <span class="new-lesson__descr">Описание урока здесь, можно его сделать в две строки</span>
      <span class="new-lesson__button">Смотреть урок</span>
    </a>
  </div>
</div>
