<div class="new-modules">
  <div class="new-modules__title">
    Кастомизация: Как сделать функциональный интерфейс без головной боли
  </div>
  <div class="new-modules__content">
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 1</span>
      <span class="new-module__title">Организация работы команды по всему миру</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 2</span>
      <span class="new-module__title">Подбор шаблона для кастомизации</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 3</span>
      <span class="new-module__title">Как погода влияет на доходимость в курсе</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 4</span>
      <span class="new-module__title">Как выйти в онлайн и уволиться из доставки</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 5</span>
      <span class="new-module__title">Как не простудиться зимой в Челябинске</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
    <a
      href="/"
      class="new-module"
    >
      <span class="new-module__number">Модуль 6</span>
      <span class="new-module__title">Как сохранить здоровый блеск бороды и волос</span>
      <span class="new-module__descr">Описание модуля здесь, можно его сделать в две строки</span>
      <img
        src=""
        alt=""
        class="new-module__img"
        width="160"
      />
    </a>
  </div>
</div>
