<div class="new-trainings">
  <div class="new-trainings__title">Мои тренинги</div>
  <div class="new-trainings__content">
    <a
      href="/"
      class="new-training"
    >
      <span class="new-training__title"
        >Кастомизация: Как сделать функциональный интерфейс без головной боли</span
      >
      <span class="new-training__state">Доступен</span>
    </a>
    <a
      href="/"
      class="new-training"
    >
      <span class="new-training__title"
        >Кастомизация: Как сделать функциональный интерфейс без головной боли</span
      >
      <span class="new-training__state">Доступен</span>
    </a>
    <a
      href="/"
      class="new-training"
    >
      <span class="new-training__title"
        >Кастомизация: Как сделать функциональный интерфейс без головной боли</span
      >
      <span class="new-training__state">Доступен</span>
    </a>
  </div>
</div>
