.new-access {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
        max-width: 420px;
    margin: 0 auto;
    margin-bottom: 60px;
  --a-color-time-bg: #deebfe;
  --a-color-scale-bg: #DEEBFE;
  --a-color-scale: #69A5FF;
}
.new-access__scale {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  margin-left: 24px;
  position: relative;
}
.new-access__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.new-access__data {
  display: flex;
  width: 100%;
  margin-top: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.new-access__time {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #505050;
  background: var(--a-color-time-bg);
  border-radius: 4px;
  padding: 4px 10px;
  margin-left: auto;
}
.new-access__scale svg circle:first-child {
    stroke: var(--a-color-scale-bg);
}
.new-access__scale svg circle:last-child {
    stroke: var(--a-color-scale);
}
