/* new-bonus */
.new-bonus {
  --nb-color-bg: #69a5ff;
  --nb-color-title: #ffffff;
  --nb-color-link: #deebfe;
  --nb-color-bonus-bg: #ffffff;
  --nb-color-bonus-text: #69a5ff;
  --nb-color-bonus-units: #505050;
  width: 100%;
  height: 98px;
  background: var(--nb-color-bg);
  border-radius: 20px;
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
.new-bonus__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: var(--nb-color-title);
}
.new-bonus__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: var(--nb-color-link);
  margin-top: 4px;
}
.new-bonus__link:hover,
.new-bonus__link:active,
.new-bonus__link:link,
.new-bonus__link:visited {
  text-decoration: none;
  color: var(--nb-color-link);
}
.new-bonus__link svg {
  margin-left: 4px;
}
.new-bonus__link svg path {
  fill: var(--nb-color-link);
}
.new-bonus__count {
  width: 137px;
  height: 137px;
  background-color: var(--nb-color-bonus-bg);
  border-radius: 137px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  line-height: 28px;
  color: var(--nb-color-bonus-text);
  font-weight: 800;
  right: -13px;
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
}
.new-bonus__units {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--nb-color-bonus-units);
  text-align: center;
}
